[Unit]
Description=tmux

[Service]
ExecSearchPath=/home/linuxbrew/.linuxbrew/bin:%h/.bin:/usr/bin
ExecStart=tmux -D
ExecStartPost=tmux-resurrect restore
ExecStop=-tmux-resurrect save
ExecStop=tmux kill-server
RestartSec=5
Restart=always

[Install]
WantedBy=default.target
