/*

!/.gitignore

!/.config/
/.config/**
!/.config/bat/
!/.config/bat/config
!/.config/containers/
!/.config/containers/containers.conf
!/.config/containers/policy.json
!/.config/containers/registries.conf
!/.config/containers/storage.conf
!/.config/fish/
!/.config/fish/config.fish
!/.config/git/
!/.config/git/attributes
!/.config/git/config
!/.config/git/ignore
!/.config/homebrew/
!/.config/homebrew/Brewfile
!/.config/lazygit/
!/.config/lazygit/config.yml
!/.config/nvim/
!/.config/nvim/**
!/.config/rg/
!/.config/rg/config
!/.config/starship.toml
!/.config/tig/
!/.config/tig/config
!/.config/tmux/
!/.config/tmux/tmux.conf

!/.local/
/.local/*
!/.local/bin/
